@page
@model SistemaERP.Views.Caixa.IndexModel
@{
}

<div class="container">
    <h1>Lista de Caixas</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nº do Caixa</th>
                <th scope="col">Usuário</th>
                <th scope="col">Saldo Inicial</th>
                <th scope="col">Aberto em</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="align-middle">
                <th scope="row">01</th>
                <td>Caio Moizés Santos</td>
                <td>R$ 200,00</td>
                <td>06/10/2025</td>
            </tr>
        </tbody>
    </table>
</div>
